$_sm: 640px;
$_md: 768px;
$_lg: 1024px;
$_xl: 1280px;
$_2xl: 1536px;
.apply{
    position: relative;
    padding: 0 1rem;
    @media screen and(min-width:$_xl){
        padding: unset;
    }
    .column-apply{
        max-width: 1400px;
        margin: auto;
        .column-top-apply{
            margin: 1rem 0;
            @media screen and(min-width:$_md){
                display: flex;
                margin: 1rem 0;
                column-gap: 1rem;
            }
            @media screen and(min-width:$_xl){
                display: flex;
                margin: 2rem 0;
                column-gap: 2rem;
            }
            .column-left{
                @media screen and(min-width:$_md){
                    width: 50%;
                }
                iframe{
                    width: 100%;
                    @media screen and(min-width:$_xl){
                        width: 536px;
                        height: 300px;
                    }
                }
            }
            .column-right{
                height: 300px;
                overflow-y: auto;
                background: #FFCCDE;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding: 1rem;
                @media screen and(min-width:$_md){
                    width: 50%;
                }
                @media screen and(min-width:$_xl){
                    padding: 2rem;
                }
                p{
                    text-align: start;
                    text-indent: 30px;
                }
            }
        }
        .column-center-apply{
            @media screen and(min-width:$_xl){
                display: flex;
                column-gap: 2rem;
                align-items: center;
            }
            .column-left{
                @media screen and(min-width:$_xl){
                    width: 70%;
                }
                h2{
                    text-align: center;
                    margin: 1rem 0;
                }
                .column{
                    @media screen and(min-width:$_md){
                        display: flex;
                        column-gap: 2rem;
                    }
                    .left{
                        @media screen and(min-width:$_md){
                            width: 50%;
                        }
                        .box-column-login{ 
                            .form-user-login{
                                // padding: 2rem 1rem 0 1rem;
                                .form{
                                    margin-bottom: 1rem;
                                    .label-top{
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: baseline;
                                        margin-bottom: 10px;
                                        .text-left{
                                            display: flex;
                                            align-items: baseline;
                                            column-gap: 8px;
                                            p{
                                                font-size: 12px;
                                                text-indent: none;
                                            }
                                        }
                                        .text-right{
                                            color: #FF2929;
                                            font-size: 12px;
                                        }
                                    }
                                    input{
                                        width: 100%;
                                        height: 39px;
                                        background: #FFFFFF;
                                        border: 1px solid #747474;
                                        border-radius: 5px;
                                        outline-style: none;
                                        padding: 0 1rem;
                                        &::placeholder{
                                            font-size: 16px;
                                            font-weight: 400;
                                        }
                                    }
                                    .text-bottom{
                                        display: flex;
                                        justify-content: end;
                                        margin-top: 5px;
                                        text-decoration: none;
                                        color: #747474;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                        .form-check{
                            display: none;
                            @media screen and(min-width:$_md){
                                display: block;
                            }
                        }
                    }
                    .right{
                        @media screen and(min-width:$_md){
                            width: 50%;
                        }
                        .box-column-login{ 
                            .form-user-login{
                                // padding: 2rem 1rem 0 1rem;
                                .form{
                                    margin-bottom: 1rem;
                                    
                                    .label-top{
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: baseline;
                                        margin-bottom: 10px;
                                        .text-left{
                                            display: flex;
                                            align-items: baseline;
                                            column-gap: 8px;
                                            p{
                                                font-size: 12px;
                                                text-indent: none;
                                            }
                                        }
                                        .text-right{
                                            color: #FF2929;
                                            font-size: 12px;
                                        }
                                    }
                                    input{
                                        width: 100%;
                                        height: 39px;
                                        background: #FFFFFF;
                                        border: 1px solid #747474;
                                        border-radius: 5px;
                                        outline-style: none;
                                        padding: 0 1rem;
                                        &::placeholder{
                                            font-size: 16px;
                                            font-weight: 400;
                                        }
                                    }
                                    .text-bottom{
                                        display: flex;
                                        justify-content: end;
                                        margin-top: 5px;
                                        text-decoration: none;
                                        color: #747474;
                                        font-size: 12px;
                                    }
                                }
                                .column-upload-img{
                                    display: flex;
                                    column-gap: 1rem;
                                    .column-left{
                                        width: 40%;
                                        background: #FFFFFF;
                                        border: 1px solid #686868;
                                        border-radius: 5px;
                                        height: 130px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 25px;
                                    }
                                    .column-right{
                                        width: 60%;
                                        p{
                                            color: #747474;
                                            font-size: 12px;
                                            margin-top: 10px;
                                            margin-bottom: 1rem;
                                        }
                                        .btn-upload{
                                            background: linear-gradient(180deg, #FF95B5 0%, #C93A87 100%);
                                            border-radius: 50px;
                                            width: 120px;
                                            height: 30px;
                                            border: none;
                                            color: white;
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
            .column-qr-right{
                background: #D9D9D9;
                border-radius: 5px;
                padding: 1rem;
                display: flex; 
                justify-content: space-between;
                margin-top: 1rem;
                @media screen and(min-width:$_md){
                    width: 50%;
                    margin: 2rem auto;
                }
                @media screen and(min-width:$_xl){
                    width: 30%;
                    padding: 2rem;
                    height: 213px;
                    margin: unset;
                }
                .left{
                    @media screen and(min-width:$_md){
                        width: 40%; 
                    }
                }
                .right{

                }
            }
        }
        .form-check{
            display: block;
            margin-top: 1rem;
            @media screen and(min-width:$_md){
                display: none;
            }
        }
        .line{
            margin-top: 2rem;
            border: 1px dashed #747474;
            @media screen and(min-width:$_xl){
                margin-top: 5rem;
            }
        }
        .btn-column{
            // margin: 3rem auto;
            display: flex;
            justify-content: center;
            column-gap: 4rem;
            .btn-left{
                width: 150px;
                height: 50px;
                background: linear-gradient(180deg, #FF95B5 0%, #C93A87 100%);
                border-radius: 10px;
                color: white;
                font-size: 25px;
                border: none;
                cursor: pointer;
                margin: 3rem 0;
            }
            .btn-right{
                width: 150px;
                height: 50px;
                background: #7A7979;
                border-radius: 10px;
                color: white;
                font-size: 25px;
                border: none;
                cursor: pointer;
                margin: 3rem 0;
            }
        }
    }
}