$_sm: 640px;
$_md: 768px;
$_lg: 1024px;
$_xl: 1280px;
$_2xl: 1536px;
.detil-index-column{
    .detil-index{
        position: relative;
        padding: 0 1rem;
        @media screen and(min-width:$_xl){
            padding: unset;
        }
        .img-background{
            display: none;
            justify-content: space-between;
            opacity: 0.2;
            width: 100%;
            .img-left{}
            .img-right{}
            @media screen and(min-width:$_xl){
                display: flex;
                width: 100%;
            }
        }
        .column-detil-index{
            // position: absolute;
            top: 0;
            width: 100%;
            text-align: center;
            // padding:0 20rem;
            max-width: 1100px;
            height: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            @media screen and(min-width:$_xl){
                position: absolute;
            }
            .column-vedio{
                // padding:0 10rem;
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 1rem;
                // background-color: #C93A87;
                flex-direction: column;
                @media screen and(min-width:$_md){
                    margin-top: 3rem;
                }
                iframe{
                    margin: auto;
                    width: 100%;
                    @media screen and(min-width:$_md){
                        width: 460px;
                        height: 260px;
                    }
                }
                .text-vedio{
                    text-align: center;
                    margin: 1rem 0;
                    @media screen and(min-width:$_md){
                        margin: 2rem 0;
                    }
                }
            }
            .swiper {
                // width: 1096px;
                width: 100%;
                
                @media screen and(min-width:$_md){
                    
                }
                @media screen and(min-width:$_xl){
                    height: 300px;
                }
                .swiper-slide{
                    width: 100%;
                    @media screen and(min-width:$_md){
                        width: 1096px;
                    }
                    img{
                        width: 100%;
                        object-fit: cover;
                        @media screen and(min-width:$_md){
                            width: 100%;
                        }
                    }
                }
                .swiper-pagination{
                    display: flex;
                    justify-content: end;
                }
            }
            .column-text{
                margin: 1rem 0;
            }
            .column-btn{
                display: flex;
                justify-content: center;
                column-gap: 1rem;
                margin: 2rem 0;
                button{
                    width: 229px;
                    height: 70px;
                    background: linear-gradient(180deg, #FF95B5 0%, #C93A87 100%);
                    border-radius: 10px;
                    color: #FFFFFF;
                    font-size: 39px;
                    font-weight: 600;
                    border: none;
                    cursor: pointer;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);      
                    &:hover{
                        background: linear-gradient(180deg, #FFFFFF 0%, #FFB5E1 100%);
                        border: 3px solid #FF64AE;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 10px;
                        color: #FF1C88;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    } 
                }
            }
        }
    }
    
}

