$_sm: 640px;
$_md: 768px;
$_lg: 1024px;
$_xl: 1280px;
$_2xl: 1536px;
.detil-login{
    position: relative;
    padding: 0 1rem;
    @media screen and(min-width:$_xl){
        padding: unset;
    }
    .img-background{
        display: none;
        justify-content: space-between;
        opacity: 0.2;
        width: 100%;
        .img-left{}
        .img-right{}
        @media screen and(min-width:$_xl){
            display: flex;
            width: 100%;
        }
    }
    .column-login{
        // position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        // padding:0 20rem;
        margin-top: 1rem;
        @media screen and(min-width:$_xl){
            position: absolute;
            left: 0;
            right: 0;
            max-width: 1100px;
            margin: 3rem auto 0 auto;
        }
        .column-img-top{
            img{
                width: 100%;
            }
        }
    }
    .column-text-login{
        h2{
            margin: 1rem 0;
        }
        .box-column-login{
            margin: auto;
            background: #FAFAFA;
            border: 1px solid #B8B8B8;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
            border-radius: 10px;    
            @media screen and(min-width:$_md){
                width: 475px;
            }
            .menu-navbar{
                background: linear-gradient(180deg, #FF95B5 0%, #C93A87 100%);
                border-radius: 9px 9px 0px 0px;
                height: 57px;
                display: flex;
                align-items: center;
                justify-content: center;
                justify-content: space-between;
                padding: 0 1rem;
                @media screen and(min-width:$_md){
                    justify-content: space-around;
                }
                button{
                    border: none;
                    background: none;
                    color: white;
                    font-size: 20px;
                    outline-style: none;
                    cursor: pointer;
                    position: relative;
                    height: 100%;
                    &.active{
                        // border-bottom: 3px solid black;
                        &::before{
                            content: "";
                            width: 100%;
                            height: 8px;
                            color: white;
                            background: white;
                            position: absolute;
                            bottom: 0;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                        
                    }
                }
            }
            .form-user-login{
                padding: 2rem 1rem 0 1rem;
                display: none;
                    &.active{
                        display: block;
                        // border-bottom: 3px solid #FF2929;
                    }
                .form{
                    margin-bottom: 1rem;
                    
                    .label-top{
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        margin-bottom: 10px;
                        .text-left{
                            display: flex;
                            align-items: baseline;
                            column-gap: 8px;
                            p{
                                font-size: 12px;
                            }
                        }
                        .text-right{
                            color: #FF2929;
                            font-size: 12px;
                        }
                    }
                    input{
                        width: 100%;
                        height: 39px;
                        background: #FFFFFF;
                        border: 1px solid #747474;
                        border-radius: 5px;
                        outline-style: none;
                        padding: 0 1rem;
                        &::placeholder{
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                    .text-bottom{
                        display: flex;
                        justify-content: end;
                        margin-top: 5px;
                        text-decoration: none;
                        color: #747474;
                        font-size: 12px;
                    }
                }
               
            }
            .form-admin-login{
                padding: 2rem 1rem 0 1rem;
                display: none;
                    &.active{
                        display: block;
                        background-color: #C93A87;
                    }
                .form{
                    margin-bottom: 1rem;
                    
                    .label-top{
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        margin-bottom: 10px;
                        .text-left{
                            display: flex;
                            align-items: baseline;
                            column-gap: 8px;
                            p{
                                font-size: 12px;
                            }
                        }
                        .text-right{
                            color: #FF2929;
                            font-size: 12px;
                        }
                    }
                    input{
                        width: 100%;
                        height: 39px;
                        background: #FFFFFF;
                        border: 1px solid #747474;
                        border-radius: 5px;
                        outline-style: none;
                        padding: 0 1rem;
                        &::placeholder{
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                    .text-bottom{
                        display: flex;
                        justify-content: end;
                        margin-top: 5px;
                        text-decoration: none;
                        color: #747474;
                        font-size: 12px;
                    }
                }
            }
            .btn-login{
                    background: linear-gradient(180deg, #FF95B5 0%, #C93A87 100%);
                    border-radius: 10px;
                    width: 150px;
                    height: 50px;
                    font-size: 25px;
                    color: white;
                    border: none;
                    cursor: pointer;
                    margin-bottom: 2rem;
                    &:hover{
                        background: linear-gradient(180deg, #FFFFFF 0%, #FFB5E1 100%);
                        border: 2px solid #FF1C88;
                        border-radius: 10px;
                        color: #FF1C88;
                    }
            }
        }
    }
    .column-text-detail{
        margin: 1rem 0;
    }
    .btn-menbar{
        background: linear-gradient(180deg, #FF95B5 0%, #C93A87 100%);
        border-radius: 10px;
        width: 190px;
        height: 50px;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 25px;
        @media screen and(min-width:$_md){
            margin: 3rem 0;
        }
        @media screen and(min-width:$_xl){
            margin: unset;
        }
    }
}