// .productLayout {
//     padding: 1rem;
//     display: flex;
//     padding: 0px 15px;
//     margin: 0;
//     justify-content: space-between;

//     .colLeft {
//         columns: 1;
//         display: flex;
//         padding: .1rem;
//         border-bottom: 3px;
//         grid-row-gap: 20px;

//         .img_left {
//             padding: .5rem;
//             min-height: 100px;
//             width: 100px;
//             object-fit: cover;
//         }

//         .text_right {
//             padding: 1rem;

//             h4 {
//                 font-weight: 500;
//                 text-align: left;
//                 margin-bottom: .5rem;
//             }

//             p {
//                 text-align: left;
//             }
//         }


//     }

// }
// .colGroup {
//     columns: 2;
//     text-align: end;
//     margin: auto 0;

//     .colCenter {
//         .price {
//             padding-right: 3rem;
//         }
//     }

//     .column_right {
//         display: inline-block;

//         p {
//             text-align: center;
//         }

//         .rating {}
//     }
// }


@media screen and(max-width : 780px) {
    .productLayout {
        padding: 1rem;
        display: flex;
        padding: 0px 15px;
        margin: 0;
        justify-content: space-between;

        .colLeft {
            columns: 1;
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            border-bottom: 3px;
            grid-row-gap: 20px;
        }

        .colGroup {
            
            display: flex;
            flex-direction: column;
            justify-content: unset;
            margin: 0;
            padding-top: .8rem;

            .colCenter {
                .price {
                    margin:.5rem 0;
                    text-align: center;
                }
            }

            .column_right {
                display: inline-block;

                p {
                    text-align: center;
                }

                .rating {}
            }
        }
    }
}

.footerAddress {
    background: linear-gradient(180deg, #FF95B5 0%, #C93A87 100%);
    color: #fff;
    border-radius: 0px 0px 9px 9px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
    row-gap: unset;
    column-gap: 2rem;
}

@media screen and(max-width : 780px) {
    .footerAddress {
        background: linear-gradient(180deg, #FF95B5 0%, #C93A87 100%);
        border-radius: 0px 0px 9px 9px;
        color: white;
        padding: 1rem;
        columns: 2;
        display: block;
        row-gap: 1rem;
        column-rule: dotted;

        h3{
           
            font-size: 19px;
        }
        h4{
            @apply mt-2  ;
        }
    }
}


.textContent {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.textContent:hover {
    transition: all .5s;
    height: max-content;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: auto;
    overflow-x: hidden;
}

.textContent::-webkit-scrollbar {
    display: none;
}